


/*Styling The Navbar*/
nav
{
	background-color: silver;
}

footer
{
	background-color: silver;
}

.navbar-nav .nav-item  .nav-link
{
	color: black;
	font-weight: bold;
}

.sign-in
{
	margin-right: 5px;
	border-radius: 15px;
}

.sign-up
{
	border-radius: 15px;
}


/*Styling the Carousel*/
.carousel 
{
  position: relative;
}
 .carousel img
 {
 	width: 100%;
 	height: 90vh;
 }

 .carousel-indicators 
 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1020px;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

 .carousel-indicators span 
 {
   margin-left: 10px;
   color: white;
   background-color: green;
   border-radius: 100%;
   padding: 10px;
   width: 100%;
   height: 33px;
 }

 .carousel-indicators span:hover 
 {
   cursor: pointer;
 }

 .carousel-caption 
 {
  position: absolute;
  right: 15%;
  top: 30vh;
  left: -13%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 10px 10px 16px transparent;
}

 .carousel-caption #header-top
 {
 	margin-left: 356px;
 	width: 100px;
 	border-top: 6px solid white;
 	z-index: 15;
 }

 .carousel-caption h2 
 {
    margin-right: 420px;
    z-index: 15;
 }


 #who-we-are_text
 {
 	margin-left: 70px;
 }


 .nav-pills > li.active > a,
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus 
{
  color: #fff;
  background-color: #002069;
}

.black
{
	color: black;
}

.black:hover
{
	color: silver;
}

/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title 
{
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}


#tabs
{
    color: black;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid green !important;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 4vh;
}

#tabs
{
	background: lightpink;
}

#tabs .nav-tabs .nav-link 
{
    color: black;
    font-size: 20px;
    background: lightpink;
    border-color: transparent;
}

#nav-tab
{
	border-bottom: 5px solid rgb(250,163,250);
}

.btn-pink
{
	background-color: rgb(250,163,250);
}

#regSection
{
	background-color: grey;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

#regLists
{
	margin-top: 15vh;
	border-left: 2px solid black;
}

#regLists li
{
	
}

/*Styling the Reg Form*/
#sign-up-form
{
	background-color: white;
	min-height: 78vh;
}

#nextButton
{
	float: right;
}

.nextDiv
{
	padding-top: 20vh;
}

.imageDiv
{
	border: 1px solid black;
}

.quick-links li, .contact-lists li, .btn-list li 
{
	list-style-type: none;
}

.quick-links li a
{
	color: black;
}

.btn-list li button
{
	width: 30%;
	border-radius: 10px;
}

.numberCircle
{
	border-radius: 50%;
	width: 36px;
	height: 36px;
	padding: 3px;
	border: 2px solid #666;
	text-align: center;
	float: left;
}

.numberText
{
	
	margin-left: 20px;
}

.fa-twitter-square
{
	background-color: white;
	color: blue;
}








 





